<configuration>
  <system.web>
    <globalization 
      fileEncoding="utf-8"
      requestEncoding="utf-8"
      responseEncoding="utf-8" />
    <compilation>
      <buildProviders>
        <!-- <add extension=".html" type="System.Web.Compilation.PageBuildProvider" /> -->
      </buildProviders>
    </compilation>
  </system.web>

  <system.webServer>
    <handlers>
      <!-- <add name="HtmlAsPage" path="*.html" verb="*" type="System.Web.UI.PageHandlerFactory" resourceType="Unspecified" preCondition="integratedMode" /> -->
    </handlers>
  </system.webServer>
</configuration>